@import '../login/index.module.scss';
.container-register {
    .row {
      input {
        padding: 10px 0 10px 70px;
      }
      .input-tip {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        color: #666;
        & > i {
          color: #f44;
          font-style: normal;
        }
      }
    }
    .other {
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        width: auto;
      }
      select {
        width: 100px;
        height: 30px;
      }
    }
    input[type="text"],
    input[type="password"] {
      outline: none;
      border-radius: 4px;
      transition: all .3s;
      &:focus {
        border-color: rgb(57, 156, 236);
      }
    }
}
