@import '../login/index.module.scss';
.container-register {
    .row {
      input {
        padding: 10px 0 10px 65px;
      }
      .input-tip {
        position: absolute;
        left: 30px;
        top: 9px;
      }
    }
    .other {
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        width: auto;
      }
      select {
        width: 100px;
        height: 30px;
      }
    }
}
