.rightPanel {
  flex: 1;
  height: 620px;
  position: relative;
  background: #fff;
  margin-left: 20px;
  border-radius: 5px;
  .title {
    border-bottom: 1px solid #ced4d9;
    line-height: 80px;
    padding-left: 20px;
    img {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 20px;
    }
  }
  .chatContent {
    height: 480px;
    overflow-y: auto;
    padding: 10px 20px;
  }
  .chatEditor {
    height: 60px;
    padding: 0 15px;
    background: #e5f4ff;
    border-radius: 0 0 5px 5px;
    position: relative;
    .msgTextarea {
      width: 600px;
      display: inline-block;
      vertical-align: middle;
      height: 38px;
      outline: none;
      border: 1px solid #ccc;
      padding: 6px 10px;
      box-sizing: border-box;
      margin-top: 11px;
      resize: none;
      font-size: 14px;
      border-radius: 5px;
      line-height: 1.5;
    }
    .sendBtn {
      position: absolute;
      background: #0888ff;
      color: #fff;
      display: inline-block;
      width: 70px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border: 1px solid #0070d9;
      border-radius: 5px;
      right: 15px;
      top: 12px;
    }
  }
}