.item {
  overflow: hidden;
  padding: 4px 0 10px 0;
  display: flex;
  .msg {
    flex: 1;
    margin: 0 15px;
    .msgText {
      display: inline-block;
      position: relative;
      margin-top: 5px;
      border-radius: 8px;
      background: #5cacde;
      color: #fff;
      border: 1px solid;
      &:after {
        content: ' ';
        position: absolute;
        top: 11px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        width: 0;
        height: 0;
      }
      .box {
        text-align: left;
        padding: 7px 12px;
        position: relative;
        min-height: 20px;
        line-height: 20px;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 14px;
        max-width: 290px;
      }
    }
  }
  .img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
  }
}
.itemMe {
  text-align: right;
  .msgText:after {
    left: 100%;
    border-left: 5px solid #5cacde;
  }
}
.itemYou {
  text-align: left;
  .msgText:after {
    right: 100%;
    border-right: 5px solid #eaeeef;
  }
  .msg .msgText {
    color: #6b8299;
    background: #eaeeef;
    border-color: #eaeeef;
  }
}