.container-login-register {
  width: 316px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  padding-top: 108px;
  box-sizing: border-box;
  background: url('./assets/images/logo.png') no-repeat top center;
}