.wrapper {
  height: 100%;
  overflow: auto;
  background: #4e5359 url('./assets/images/bg_page.png') no-repeat 0 0;
  background-size: cover;
  color: #3a4a59;
}
.mainWrapper {
  position: relative;
  overflow: visible;
  min-width: 1000px;
  min-height: 720px;
  width: 1002px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
}
.flex {
  flex: 1;
}