.panel_item {
  border-bottom: 1px solid #eaeeef;
  overflow: hidden;
  height: 57px;
  padding: 8px 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  .panel_avatar {
    .panel_image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      vertical-align: top;
      display: inline-block;
    }
  }
  .panel_text {
    flex: 1;
    position: relative;
    margin-left: 10px;
    span {
      color: #3a4a59;
      display: inline-block;
      width: 60%;
      font-size: 14px;
      line-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    b {
      position: absolute;
      right: 0;
      top: 12px;
      font-size: 12px;
      color: #999;
    }
  }
}
.active {
  background-color: #f5f5f5;
}